# Railway MySQL (usa MYSQL_PUBLIC_URL para conexiones externas)
DB_HOST=trolley.proxy.rlwy.net
DB_PORT=30780
DB_USER=root
DB_PASSWORD=wFuUUdNWOzXxPzeHpbCEDGewWPPYfFEj
DB_NAME=railway
JWT_SECRET=tu_secreto_jwt_aqui
JWT_EXPIRES_IN=24h
