# Render PostgreSQL (External Database URL para conexiones desde Render Web Service)
DB_HOST=dpg-d7tm4bkm0tmc73ctgo2g-a.virginia-postgres.render.com
DB_PORT=5432
DB_USER=dbamarket_user
DB_PASSWORD=cnLHuHAA6DEDeOOWzeKH0mzZOTVlvLqx
DB_NAME=dbamarket
JWT_SECRET=tu_secreto_jwt_aqui
JWT_EXPIRES_IN=24h
PORT=3000
